<div class="checkbox-radio"
     *ngIf="control">
  <input class="form-check-input"
         type="checkbox"
         [formControl]="control"
         [attr.id]="id"
         [attr.aria-describedby]="validationId"
         (click)="!readonly">
  <label class="form-check-label"
         [attr.for]="id"
         [innerHTML]="label | translate">
  </label>
</div>
<alv-validation-messages *ngIf="!readonly && control"
                         [control]="control"
                         [attr.id]="validationId"
                         [customValidationMessages]="validationMessages">
</alv-validation-messages>
<alv-validation-messages *ngIf="!readonly && showGroupErrors"
                         [control]="control.parent"
                         [attr.id]="validationId"
                         [customValidationMessages]="validationMessages">
</alv-validation-messages>
