@import "../../../../../../scss/common/colors";

.form-label-group {
  &.invalid .typeahead-form-control.has-focus {
    box-shadow: 0 0 0 0.2rem $color-red-transparent;
  }
  .typeahead-form-control {
    display: flex;
    height: inherit !important;
    &.has-focus {
      box-shadow: 0 0 0 0.2rem $color-blue-transparent;
    }
    input {
      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }
      background: transparent;
      padding: 0 !important;
      border: 0;
    }
    label .label {
      max-width: 100%;
    }
    fieldset {
      .typeahead-badge {
        font-weight: 500;
        margin: 1px 2px 0 0;
        border-radius: 1px;
        .typeahead-badge-label {
          max-width: 120px;
          height: 13px;
        }
        .remove-button {
          cursor: pointer;
          padding: 0.1rem;
          border: none;
          background-color: transparent;
          &:hover {
            color: darken($color-white, 10%);
          }
        }
      }
    }
  }
}

/* Grouping styles */
.typeahead-group-label {
  color: $color-grey-black;
  position: absolute;
  top: -0.5rem;
  margin-left:calc(-16px - 5px);

  font-size: 80%;
  padding: 0 .25rem;
  width: calc(100% + 16px * 2 + 5px);
}

.first-in-group-item {
  padding-top: 1.25rem;

}
