<div class="w-100 form-group"
     *ngIf="control">
  <div class="form-label-group position-relative"
       [class.invalid]="isTouched() && isInvalid()">
    <span *ngIf="required && !readonly"
          class="required-indicator h-100">
    </span>

    <div *ngIf="!readonly"
         class="form-control typeahead-form-control d-flex flex-row flex-wrap"
         [class.has-focus]="hasFocus()"
         [class.placeholder-shown]="showPlaceholder()"
         (click)="inputField?.focus()">

      <fieldset>
        <legend class="sr-only">{{'portal.typeahead-multiselect.legend.selected-items'|translate}}</legend>
        <div
          class="badge typeahead-badge d-inline-flex align-items-center"
          *ngFor="let item of control.value;"
          [ngClass]="getTypeClass(item)">
          <div class="typeahead-badge-label text-truncate">
            {{item.label}}
          </div>
          <button class="remove-button ml-1"
                  type="button"
                  (click)="removeItem(item)"
                  [attr.aria-label]="'portal.typeahead-multiselect.remove-item' | translate : {item: item.label}">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </fieldset>

      <input #inputField
             [attr.id]="id"
             [attr.required]="required"
             [attr.aria-required]="!!required"
             [attr.aria-describedby]="validationId + ' ' + allyHelpId"
             [alvAutofocus]="autofocus"
             [style.width]="getInputWidth()"
             [ngbTypeahead]="loadItemsGuardedFn"
             [container]="'body'"
             [resultTemplate]="template"
             [focusFirst]="focusFirst"
             [editable]="true"
             [readonly]="limit && control.value?.length >= limit"
             [(ngModel)]="inputValue"
             (selectItem)="selectItem($event)"
             (keydown)="handleKeyDown($event)"
             (blur)="control.markAsTouched()">
    </div>
    <label class="d-flex"
           [attr.for]="id">
      <span class="label text-truncate">{{label | translate}}</span>
      <span class="flex-grow-1"></span>
      <span *ngIf="limit && control.value?.length">
        {{control.value?.length + '/' + limit}}
        <span class="sr-only">Items</span>
      </span>
    </label>

    <div *ngIf="readonly"
         [class.placeholder-shown]="!control.value"
         class="readonly-input">
      {{control.value}}
    </div>

    <!-- a11y help texts -->
    <div class="sr-only"
         [attr.id]="allyHelpId">
      <ng-container *ngIf="control.value?.length">
        <span *ngFor="let item of control.value; let i = index">
          {{item.label}}
        </span>
        {{'portal.typeahead-multiselect.help-text.delete-selected-items'|translate}}
      </ng-container>
      <ng-container *ngIf="limit && control.value?.length >= limit; else a11yHelpText">
        {{'portal.typeahead-multiselect.help-text.limit-reached' | translate : {'limit': limit} }}
      </ng-container>
      <ng-template #a11yHelpText>
          {{'portal.typeahead-multiselect.help-text.query-min-length '| translate : {'queryMinLength': queryMinLength} }}
        <ng-container *ngIf="editable">
          {{'portal.typeahead-multiselect.help-text.add-free-text'| translate}}
        </ng-container>
        <ng-container *ngIf="limit">
          {{'portal.typeahead-multiselect.help-text.select-up-to-limit' | translate : { 'limit': limit} }}
        </ng-container>
      </ng-template>
    </div>

    <ng-template #template
                 let-result="result"
                 let-term="term"
                 let-formatter="formatter">
      <div class="position-relative">
        <div *ngIf="result.firstInGroup"
             class="typeahead-group-label pull-right"
             [ngClass]="getTypeClass(result.model)">
          {{ 'typeahead-multiselect.type.' + result.model.type | translate}}
        </div>
        <div [ngClass]="{'first-in-group-item': result.firstInGroup}">
          <div *ngIf="result.firstInGroup"></div>
          <ngb-highlight [result]="formatResultItem(result.model)"
                         [term]="term">
          </ngb-highlight>
        </div>
      </div>

    </ng-template>

  </div>
  <small *ngIf="helpText && !(isTouched() && isInvalid())"
         class="help-text" >
    {{helpText | translate}}
  </small>
  <alv-validation-messages *ngIf="!readonly"
                           [control]="control"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
  <alv-validation-messages *ngIf="!readonly && showGroupErrors"
                           [control]="control.parent"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
</div>
