<div class="form-group"
     *ngIf="control"
     [attr.role]="label ? 'group' : null"
     [attr.aria-describedby]="label ? validationId : null">
  <legend class="label mb-2"
          *ngIf="label">{{label | translate}}
  </legend>
  <div class="checkbox-radio"
       *ngFor="let option of options$ | async; let first = first">
    <input class="form-check-input"
           type="radio"
           [formControl]="control"
           [name]="name"
           [value]="option.value"
           [attr.id]="id + '-' + option.value"
           [attr.aria-readonly]="readonly"
           [alvAutofocus]="first ? autofocus : false"
           (click)="!readonly">
    <label class="form-check-label"
           [for]="id + '-' + option.value"
           [innerHTML]="option.label | translate">
    </label>
  </div>
</div>
<alv-validation-messages *ngIf="!readonly && control"
                         [control]="control"
                         [attr.id]="validationId"
                         [customValidationMessages]="validationMessages">
</alv-validation-messages>
<alv-validation-messages *ngIf="!readonly && showGroupErrors"
                         [control]="control.parent"
                         [attr.id]="validationId"
                         [customValidationMessages]="validationMessages">
</alv-validation-messages>
