<alv-registration-panel (backAction)="returnToPavIdentification()"
                        (secondaryAction)="returnToHome()"
                        [hideBackButton]="isSubmitted"
                        [secondaryLabel]="homeLabel"
                        panelTitle="portal.registration.request.access.code">
  <alv-step-indicator [activeStep]="2"
                      [steps]="pavSteps"
                      class="step-indicator panel-full-width">
  </alv-step-indicator>
  <p [innerHTML]="'registrationPavDialog.postal.description' | translate"></p>
  <p class="address">
    {{selectedPav.name}}<br>
    {{selectedPav.street}}<br>
    {{selectedPav.zipCode}} {{selectedPav.city}}<br>
  </p>
  <p [innerHTML]="'registrationPavDialog.login.description' | translate"></p>
  <button (click)="requestActivationCode()"
          *ngIf="!isSubmitted; else confirmMessage"
          [disabled]="disableSubmit"
          class="btn btn-primary w-100 submit-button">
    {{'registrationPavDialog.requestActivationCode' | translate}}
  </button>

</alv-registration-panel>

<ng-template #confirmMessage>
  <div class="p-2 w-100 text-center bg-success text-white">
    {{'registrationPavDialog.activationCodeRequested' | translate}}
    <i class="fas fa-check"></i>
  </div>
</ng-template>
