<fieldset [formGroup]="publicContact">
  <legend class="sr-only">{{'home.tools.job-publication.public-contact.title' | translate}}</legend>

  <alv-select label="home.tools.job-publication.contact.salutation"
              alvFormControlName="salutation"
              [options$]="salutationOptions$">
  </alv-select>

  <alv-input-field label="home.tools.job-publication.contact.first-name"
                   alvFormControlName="firstName"
                   [maxLength]="FIELDS_MAX_LENGTH">
  </alv-input-field>

  <alv-input-field label="home.tools.job-publication.contact.last-name"
                   alvFormControlName="lastName"
                   [maxLength]="FIELDS_MAX_LENGTH">
  </alv-input-field>

  <fieldset>
    <legend>{{'home.tools.job-publication.messages.validate.at-least-one-required-email-or-phone' | translate}}</legend>
    <alv-input-field label="home.tools.job-publication.contact.phone"
                     alvFormControlName="phone"
                     type="tel"
                     placeholder="home.tools.job-publication.placeholders.phone"
                     [validationMessages]="[{ error: 'phoneOrEmailRequired', message: 'home.tools.job-publication.messages.validate.at-least-one-required-email-or-phone'}]"
                     [showGroupErrors]="true">
    </alv-input-field>

    <alv-input-field label="home.tools.job-publication.contact.email"
                     alvFormControlName="email"
                     placeholder="home.tools.job-publication.placeholders.email"
                     [validationMessages]="[{ error: 'phoneOrEmailRequired', message: 'home.tools.job-publication.messages.validate.at-least-one-required-email-or-phone'}]"
                     [maxLength]="FIELDS_MAX_LENGTH"
                     [showGroupErrors]="true">
    </alv-input-field>
  </fieldset>

</fieldset>

