<div class="alv-panel pb-4">
  <h2 class="panel-title">
    <i class="panel-icon fa fa-search mr-2"
       aria-hidden="true"></i>
    {{'portal.widgets.candidate-search.title' | translate}}
  </h2>
  <alv-candidate-query-panel [(candidateQueryPanelValues)]="candidateQueryPanelValues"
                             (searchSubmit)="onSearchSubmit($event)">
  </alv-candidate-query-panel>
</div>


