<header id="header">
  <!-- a11y -->
  <h1 class="sr-only">Header</h1>

  <div class="header p-0 d-flex align-items-center">
    <a routerLink="/">
      <div class="logo pl-2 d-none d-lg-flex">

        <img src="assets/img/logo_arbeit_swiss.svg"
             alt="Logo Arbeitslosenversicherung">
        <span class="logo-text">eServices</span>
      </div>
    </a>
    <button class="header-menu d-lg-none align-self-center"
            [attr.aria-label]="'portal.header.menu.open-navigation'|translate"
            (click)="toggleMobileNavigation()">
      <i class="navbar-toggler-icon fas fa-bars"></i>
    </button>
    <div class="flex-grow-1"></div>

    <alv-user-menu *ngIf="user"
                   [user]="user"
                   [company]="company"
                   [noEiam]="noEiam">
    </alv-user-menu>

    <div class="header-buttons ml-1 d-none d-lg-flex align-items-center">
      <a class="btn mx-3"
         routerLink="home"
         [attr.aria-label]="'global.menu.home' | translate"
         placement="bottom"
         [ngbTooltip]="'global.menu.home' | translate">
        <i class="fas fa-home"></i>
      </a>
      <a class="btn mx-3"
         [href]="'home.contactform.url' | translate"
         target="_blank"
         rel="noopener">
        {{'portal.header.contact' | translate}}
      </a>
      <a class="btn mx-3"
         [href]="'home.registration.url' | translate"
         target="_blank"
         rel="noopener">
        {{'global.menu.account.registration.text' | translate}}
      </a>

    </div>

    <button *ngIf="!user"
            class="btn btn-primary d-none d-lg-block"
            (click)="login()">
      {{'global.menu.account.login'|translate}}
    </button>

    <div *ngIf="currentLanguage$|async as currentLanguage"
         class="language-switchers">
      <div class="header-buttons ml-1 d-none d-lg-flex align-items-center">
        <a class="mx-3"
           [href]="'home.title.portal-url' | translate"
           target="_blank"
           rel="noopener">
          {{ 'home.title.cms'| translate }}
        </a>
        <ng-container *ngFor="let language of LANGUAGES">
          <button (click)="changeLanguage(language)"
                  class="language-switch-button text-uppercase"
                  [ngClass]="{active: language===currentLanguage}">{{language}}
          </button>
        </ng-container>
      </div>
      <div ngbDropdown
           placement="bottom-right"
           class="d-flex d-lg-none d-xl-none header-buttons align-items-center">
        <button class="btn btn-secondary text-uppercase"
                id="dropdownBasic1"
                ngbDropdownToggle>{{currentLanguage}}
        </button>
        <div ngbDropdownMenu>
          <ng-container *ngFor="let language of LANGUAGES">
            <button (click)="changeLanguage(language)"
                    class="dropdown-item language-switch-button"
                    [ngClass]="{active: language===currentLanguage}">
              {{'global.reference.language.' + language | translate}}
            </button>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</header>
