@import "../../../../scss/common/colors";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

header {
  background-color: $color-light-grey;
  border-bottom: 1px solid $color-medium-grey;

  .header {
    height: 52px;
    .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 295px;
      height: 83px;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
      border: 1px solid $color-medium-grey;
      border-radius: 0 0 24px;
      background-color: $color-white;
      z-index: 10;
      img {
        height: 80px;
      }
      .logo-text {
        font-size: 18px;
        margin-top: 13px;
        margin-left: 5px;
        color: $color-grey;
        user-focus: none;
        user-select: none;
      }
    }

    .header-menu {
      margin: 0 4px;
      padding: 2px 5px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      height: 30px;
      background-color: $color-light-grey;
      i.fa-bars {
        vertical-align: initial;
      }
      &:hover {
        background-color: $color-white;
      }
    }

    .header-buttons {
      height: 40px;
      > button, a {
        margin-right: 4px;
        font-size: 16px;
        height: 30px;
        border: none;
        cursor: pointer;
        padding: 2px 5px;
        background-color: $color-light-grey;
        color: $color-black;
        &:hover {
          background-color: $color-white;
          text-decoration: none;
        }

        &.profile-button {
          background-color: $color-white;
          color: $color-primary;
          &:hover {
            background-color: $color-primary;
            color: $color-white;
          }
        }
      }
    }
    .language-switchers {
      .language-switch-button {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  header .header {
    height: 42px;
  }
}
