@import "../../../scss/common/colors";
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.photo-user {
  font-size: 42px;
  border: lighten($color-primary, 40%) solid 2px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 5px;
  text-align: center;
  color: $color-grey;
}

.greeting {
  font-size: 2em
}

@include media-breakpoint-down(sm) {
  .greeting {
    font-size: 1.5em;
  }
}
