@import '../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';

@include media-breakpoint-up(lg) {
  .main-col {
    min-width: 500px;
    max-width: 700px;
  }

  .side-panel.right {
    max-width: 400px;
  }
}
