<div class="row">
  <div class="col-12 d-md-none d-print-none pt-2">
    <ng-content select=".mobile-menu-bar"></ng-content>
  </div>
  <div class="col-md-3 col-xl-2"
       [ngClass]="getCommonColumnClasses(0)">
    <div class="side-panel pt-3 pt-md-4 px-3">
      <ng-content select=".left-column"></ng-content>
    </div>
  </div>
  <div class="col-md-6 col-xl-8"
       [ngClass]="getCommonColumnClasses(1)">
    <ng-content select=".main-column"></ng-content>
  </div>
  <div class="col-md-3 col-xl-2 d-print-none"
       [ngClass]="getCommonColumnClasses(2)">
    <div class="side-panel pt-3 pt-md-4 px-3">
      <ng-content select=".right-column"></ng-content>
    </div>
  </div>
</div>

