<div class="alv-panel pb-4">
  <h2 class="panel-title">
    <i class="panel-icon fa fa-edit mr-2"
       aria-hidden="true"></i>
    {{'portal.widgets.job-publication.title' | translate}}
  </h2>
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="justify-content-between d-flex flex-column flex-md-row">
    <alv-input-field label="portal.job-publication.query-panel.label.title"
                     alvFormControlName="jobPublicationTitle"
                     class="narrow-form flex-grow-1">
    </alv-input-field>
    <button type="submit"
            class="btn btn-primary mt-1 mt-md-0 ml-0 ml-md-2">
      {{'navigation.next' | translate}}
    </button>
  </form>
</div>

