<alv-main-navigation role="navigation"
                     [attr.aria-label]="'portal.navigation.label.main-navigation'|translate">
</alv-main-navigation>


<!-- Assistant Navigation
<alv-assistant-navigation role="navigation" aria-label="Assistant"></alv-assistant-navigation>
-->

<main class="h-100 w-100 position-relative"
  [ngClass]="currentMainStyle">
  <span id="scroll-top-hook"></span>
  <ng-content></ng-content>
  <alv-scroll-to-top></alv-scroll-to-top>
</main>

