@import "../../../../scss/common/colors";

button.collapse-button {
  color: $color-black;
  text-decoration: none;
  border-bottom: 1px solid $color-medium-grey;
  margin-bottom: 0.5em;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background: darken($color-light-grey, 10%);
    color: $color-primary;
  }
  .collapse-icon, .expand-icon {
    color: $color-primary;
  }
  .collapse-icon {
    display: block;
  }
  .expand-icon {
    display: none;
  }
  &.collapsed {
    .collapse-icon {
      display: none;
    }
    .expand-icon {
      display: block;
    }
  }
}
.panel-content {
  padding: 0.5em 0;
  display: block;
  transform-origin: top;
}
