<div class="container-fluid query-search-area py-5">
  <div class="form-row">
    <h2 class="sr-only">
      {{'portal.job-ad-search.browser-title' | translate}}
    </h2>
    <alv-job-query-panel class="col-md-10 col-lg-9"
                         (jobQueryPanelValuesChange)="onQueryChange($event)"
                         [showSpinner]="resultsAreLoading$ | async"
                         [jobQueryPanelValues]="jobSearchFilter$ | async">
    </alv-job-query-panel>

    <div class="col-md-2 col-lg-3 d-flex">
      <button class="btn btn-text h-100 mt-1 mt-md-0 flex-grow-1 flex-md-grow-0"
              (click)="onResetFilter()">
        {{ 'job-search.toolbar.reset' | translate }}
      </button>
    </div>
  </div>
</div>
<div (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     [infiniteScrollContainer]="'main'"
     class="container-fluid"
     infiniteScroll>

  <alv-three-column-layout [mobileOrdering]="[1, 3, 2]"
                           [stickyTop]="layoutConstants.STICKY_TOP_SEARCH">
    <ng-container class="left-column">
      <div class="alv-bar mb-1">
        <span *ngIf="resultsAreLoading$ | async; else resultsCount">...</span>
        <ng-template #resultsCount>
          <strong>{{totalCount$ | async | number}} {{'portal.job-ad-search.results-count.label' | translate}}</strong>
        </ng-template>

      </div>
      <h2 class="sr-only">
        {{'job-search.filter.title' | translate}}
      </h2>
      <alv-filter-panel (filterPanelValueChange)="onFiltersChange($event)"
                        [filterPanelValues]="jobSearchFilter$ | async">
      </alv-filter-panel>
    </ng-container>

    <ng-container class="main-column">
      <h2 class="sr-only">
        Stellen Suchresultate
      </h2>
      <alv-job-search-result *ngFor="let jobSearchResult of jobSearchResults$ | async"
                             [jobSearchResult]="jobSearchResult"></alv-job-search-result>
    </ng-container>

    <ng-container class="right-column">
      <a *ngIf="jobSearchMailToLink$ | async as jobSearchMailToLink"
         class="btn btn-text btn-text-icon btn-truncate"
         [href]="jobSearchMailToLink">
        <i aria-hidden="true"
           class="fa fa-share mr-1"></i>
        {{'job-detail.action.sendEmail' | translate}}
      </a>

    </ng-container>
  </alv-three-column-layout>
</div>
