<div class="form-group"
     *ngIf="control">
  <div class="form-label-group position-relative"
       [class.invalid]="isTouched() && isInvalid()"
       [class.readonly]="readonly">
    <span class="required-indicator"
          *ngIf="required && !readonly"></span>
    <select class="form-control custom-select"
            *ngIf="!readonly"
            [attr.id]="id"
            [formControl]="control"
            [attr.required]="required"
            [attr.aria-required]="!!required"
            [attr.aria-describedby]="validationId"
            [alvAutofocus]="autofocus"
            [class.placeholder-shown]="control.value === ''">
      <option *ngFor="let option of options$ | async"
              [ngValue]="option.value">{{option.label | translate}}
      </option>
    </select>
    <div *ngIf="readonly"
         [class.placeholder-shown]="control.value === ''"
         class="readonly-input">
      <ng-container *ngFor="let option of options$ | async">
        <ng-container *ngIf="option.value === control.value">
          {{option.label | translate}}
        </ng-container>
      </ng-container>
    </div>
    <label [attr.for]="id"
           class="text-truncate">{{label | translate}}</label>
    <i class="fas fa-caret-down dropdown-icon"
       *ngIf="!readonly"></i>
  </div>
  <small *ngIf="helpText && !(isTouched() && isInvalid())"
         class="help-text" >
    {{helpText | translate}}
  </small>
  <alv-validation-messages *ngIf="!readonly"
                           [control]="control"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
  <alv-validation-messages *ngIf="!readonly && showGroupErrors"
                           [control]="control.parent"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
</div>
