@import "../../../../../scss/common/colors";

.form-label-group:not(.readonly) {

  background-color: $color-white;
  border: 1px solid $color-medium-grey;
  border-radius: 0;

  &.invalid {
    border-color: $color-red;

    .dropdown-icon {
      color: $color-red;
    }
  }

  select {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 44px;
    width: 100%;
  }

  /* override the default padding top of floating label */
  select:not(.placeholder-shown) ~ label {
    padding-top: 1px;
  }
}
select.form-control:focus {
  box-shadow: 0 0 0 0.25rem $color-blue-transparent;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 14px;
  pointer-events: none;
}
.required-indicator {
  top: -1px;
  left: -1px;
  height: 46px;
}

