<div class="icon"
     aria-hidden="true">
  <i [class]="icon"></i>
</div>

<div class="text w-100">
  <div class="line-1"> {{notification.messageKey | translate}}</div>
  <ng-content></ng-content>
</div>
<button *ngIf="!hideDismiss"
        type="button"
        [attr.aria-label]="'portal.global.close' | translate"
        class="close close-button"
        (click)="doDismiss(notification)">&times;
</button>
