@import "../../../../../scss/common/colors";

:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  .icon {
    color: $color-white;
    display: flex;
    text-align: center;
    i {
      flex-grow: 1;
      align-self: center;
    }
  }

  .text {
    align-self: center;
  }

  .close-button {
    align-self: center;
    margin-right:7px;
  }

  &.info {
    background-color: $color-light-blue;
    .icon {
      background-color: $color-blue;
    }
  }
  &.warning {
    background-color: $color-yellow;
    .icon {
      background-color: $color-orange;
    }
  }
  &.error {
    background-color: $color-light-red;
    .icon {
      background-color: $color-red;
    }
  }
  &.success {
    background-color: $color-light-green;
    .icon {
      background-color: $color-green;
    }
  }
  &.empty {
    background-color: $color-super-light-grey;
    border: 1px solid $color-medium-grey;
    .text {
      text-align: center;
      color: $color-dark-grey;
      width: 100%;
    }
  }
}

.icon {
  padding: 5px;
  width: 26px;
  min-width: 26px;
  i {
    width: 16px;
    color: $color-white;
  }
}
.text {
  padding: 10px;
}

/*
 TODO: The following animation classes will be set by the parent component (something like notification-queue.component.ts)
 see: https://alv-ch.atlassian.net/browse/OS-172
*/

/* Appear animation */
:host.open {
  animation: appear 0.5s ease-out;
  opacity: 1;
}

/* Vanish animation */
:host.closed {
  animation: vanish 0.5s ease-out;
  opacity: 0;
}

@keyframes appear {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -50px);
    opacity: 0;
  }
}
