<div *ngIf="currentUser$ | async as currentUser"
     class="container mt-2 mt-md-4">

  <div class="row">
    <div class="offset-md-0 offset-lg-1 offset-xl-2 col-md-12 col-lg-10 col-xl-8">
      <alv-dashboard-header [company]="currentCompany$ | async"
                            [user]="currentUser">
      </alv-dashboard-header>
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
