<button class="title-bar alv-bar text-truncate mb-3 w-100"
        (click)="toggleExpanded()">
  {{'job-search.filter.title' | translate}}
  <i *ngIf="!expanded"
     class="fas fa-chevron-down"></i>
  <i *ngIf="expanded"
     class="fas fa-chevron-up"></i>
</button>
<div class="title-bar alv-bar text-truncate mb-3"
     aria-hidden="true">
  {{'job-search.filter.title' | translate}}
</div>

<form class="filter-form pb-2"
      autocomplete="off"
      novalidate
      [formGroup]="form"
      [class.expanded]="expanded">

  <alv-select
    class="narrow-form d-block mb-1"
    *alvHasAnyAuthority="[userRole.ROLE_JOB_SEEKER]"
    label="job-search.filter.restricted-jobs.label"
    alvFormControlName="displayRestricted"
    [options$]="restrictOptions$">
  </alv-select>

  <alv-select
    class="narrow-form d-block mb-1"
    label="job-search.filter.sort.label"
    alvFormControlName="sort"
    [options$]="sortOptions$">
  </alv-select>

  <alv-input-field
    class="narrow-form d-block mb-1"
    label="job-search.filter.company-name.label"
    alvFormControlName="company">
  </alv-input-field>

  <alv-select
    class="narrow-form d-block mb-1"
    label="job-search.filter.contract-type.label"
    alvFormControlName="contractType"
    [options$]="contractTypeOptions$">
  </alv-select>

  <div class="form-row">
    <div class="col-6">
      <alv-select
        class="narrow-form d-block mb-1"
        label="portal.job-search.filter.workload.from.label"
        alvFormControlName="workloadPercentageMin"
        [options$]="percentagesMin$">
      </alv-select>
    </div>
    <div class="col-6">
      <alv-select
        class="narrow-form d-block mb-1"
        label="portal.job-search.filter.workload.to.label"
        alvFormControlName="workloadPercentageMax"
        [options$]="percentagesMax$">
      </alv-select>
    </div>
  </div>

  <div class="range-slider">
    <label class="mb-1">{{ 'job-search.filter.online-since.label' | translate}}</label>
    <div>
      <nouislider [min]="1"
                  [max]="60"
                  [keyboard]="true"
                  [config]="{step: 1}"
                  (update)="updateSliderLabel($event)"
                  class="range-input"
                  [formControl]="form.get('onlineSince')">
      </nouislider>
      <span class="range-input-value text-nowrap ml-2">
        {{ onlineSinceSliderLabel }} {{ getOnlineSinceLabel(onlineSinceSliderLabel) | translate }}
      </span>
    </div>
  </div>

</form>

