<div class="form-group"
     *ngIf="control">
  <div class="form-label-group position-relative d-flex"
       [class.invalid]="isTouched() && isInvalid()">
    <span *ngIf="!!required && !readonly"
          class="required-indicator h-100">
    </span>
    <input type="text"
           [attr.id]="id"
           [attr.aria-describedby]="validationId"
           #datePicker="ngbDatepicker"
           ngbDatepicker
           (click)="datePicker.toggle()"
           [minDate]="minDate"
           [maxDate]="maxDate"
           [alvAutofocus]="autofocus"
           [attr.required]="required"
           [attr.aria-required]="!!required"
           [startDate]="startDate"
           [placement]="placement"
           [formControl]="control"
           [dayTemplate]="dayTemplate"
           [class.placeholder-shown]="!control.value"
           *ngIf="!readonly"
           class="form-control">
    <div *ngIf="readonly"
         [class.placeholder-shown]="!control.value"
         class="readonly-input">
      {{control.value | date:'dd.MM.yyyy'}}
    </div>
    <label [attr.for]="id">
      {{label | translate}}
    </label>
    <span *ngIf="!readonly"
          class="input-group-append">
      <button class="btn btn-secondary"
              [attr.aria-label]="'portal.forms.date-input'|translate"
              type="button"
              (click)="datePicker.toggle()"
              [disabled]="control.disabled"
              placement="top"
              [ngbTooltip]="'portal.forms.date-input.open-calendar-button' | translate">
        <i class="fas fa-calendar-alt"></i>
      </button>
    </span>
  </div>
  <small *ngIf="helpText && !(isTouched() && isInvalid())"
         class="help-text">
    {{helpText | translate}}
  </small>
  <alv-validation-messages *ngIf="!readonly"
                           [control]="control"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
  <alv-validation-messages *ngIf="!readonly && showGroupErrors"
                           [control]="control.parent"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
</div>
<ng-template #dayTemplate
             let-date="date"
             let-focused="focused"
             let-disabled="disabled">
  <span class="custom-day"
        [class.focused]="focused"
        [class.disabled]="disabled">
    {{ date.day }}
  </span>
</ng-template>
