<button class="title-bar alv-bar text-truncate mb-3 w-100"
        (click)="toggleExpanded()">
  {{'candidate-search.filter.title' | translate}}
  <i *ngIf="!expanded"
     class="fas fa-chevron-down"></i>
  <i *ngIf="expanded"
     class="fas fa-chevron-up"></i>
</button>
<div class="title-bar alv-bar text-truncate mb-3">
  {{'candidate-search.filter.title' | translate}}
</div>

<form class="filter-form pb-2"
      autocomplete="off"
      novalidate
      [formGroup]="form"
      [class.expanded]="expanded">

  <alv-select
    class="narrow-form d-block mb-1"
    label="candidate-search.degree.label"
    alvFormControlName="degree"
    [options$]="degreeOptions$">
  </alv-select>

  <alv-select
    class="narrow-form d-block mb-1"
    label="candidate-search.toolbar.graduation.label"
    alvFormControlName="graduation"
    [options$]="graduationOptions$">
  </alv-select>

  <alv-select
    class="narrow-form d-block mb-1"
    label="candidate-search.experience.label"
    alvFormControlName="experience"
    [options$]="experienceOptions$">
  </alv-select>

  <alv-multi-typeahead
    class="narrow-form d-block mb-1"
    label="candidate-search.toolbar.residence.placeholder"
    alvFormControlName="residence"
    [loadItems]="suggestCantonsFn"
    [queryMinLength]="1"
    [editable]="false"
    [focusFirst]="true">
  </alv-multi-typeahead>

  <alv-select
    class="narrow-form d-block mb-1"
    label="candidate-search.availability.label"
    alvFormControlName="availability"
    [options$]="availabilityOptions$">
  </alv-select>

  <div class="form-row">
    <div class="col-6">
      <alv-select
        class="narrow-form d-block mb-1"
        label="portal.job-search.filter.workload.from.label"
        alvFormControlName="workloadPercentageMin"
        [options$]="percentagesMin$">
      </alv-select>
    </div>
    <div class="col-6">
      <alv-select
        class="narrow-form d-block mb-1"
        label="portal.job-search.filter.workload.to.label"
        alvFormControlName="workloadPercentageMax"
        [options$]="percentagesMax$">
      </alv-select>
    </div>
  </div>

  <alv-select
    class="narrow-form d-block mb-1"
    label="global.drivingLicenceCategory.label"
    alvFormControlName="drivingLicenceCategory"
    [options$]="drivingLicenceCategoryOptions$">
  </alv-select>

  <alv-select
    class="narrow-form d-block mb-1"
    label="global.workForm.label"
    alvFormControlName="workForm"
    [options$]="workFormOptions$">
  </alv-select>

  <div *ngFor="let languageSkill of languageSkillFormArray.controls; let first = first"
       [formGroup]="languageSkill">
    <div class="form-row">
      <div class="col">
        <alv-select
          class="narrow-form d-block mb-1"
          label="candidate-search.languageSkills.label"
          alvFormControlName="code"
          (change)="onLanguageSkillCodeChanged(languageSkill)"
          [options$]="languageOptions$">
        </alv-select>
      </div>
      <div *ngIf="!first"
           class="col-auto">
        <button class="btn btn-text btn-icon"
                [attr.aria-label]="'global.button.remove.title'| translate"
                (click)="removeLanguageSkill(languageSkill)">
            <span class="fa fa-trash-alt"
                  aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div *ngIf="languageSkill.get('code').value">
      <alv-select
        class="narrow-form mb-1 d-block"
        label="global.reference.language.spoken"
        alvFormControlName="spoken"
        [options$]="languageLevelOptions$">
      </alv-select>
      <alv-select
        class="narrow-form mb-1 d-block"
        label="global.reference.language.written"
        alvFormControlName="written"
        [options$]="languageLevelOptions$">
      </alv-select>
    </div>
  </div>


  <button class="btn btn-primary btn-sm"
          (click)="addNewLanguageSkill()"
          *ngIf="isAddLanguageSkillEnabled()">
    <span class="fa fa-plus"
          aria-hidden="true"></span>
    {{'global.button.add.title'| translate}}
  </button>

</form>

