<div @insertRemoveNotification
     *ngFor="let notification of notifications">

  <alv-notification role="alert"
                    [notification]="notification"
                    (dismiss)="dismiss($event)"></alv-notification>

</div>
