<div class="modal-header">

  <div class="d-flex flex-column">
    <h2 class="modal-title">
      {{modalTitle | translate}}
    </h2>

    <div *ngIf="subtitle"
         class="modal-subtitle">
      {{subtitle | translate}}
    </div>
  </div>

  <button type="button"
          class="close"
          [attr.aria-label]="'portal.modal.close' | translate"
          (click)="handleSecondaryClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Surround the modal content with a form element if a formGroup is present to enable the form submit behaviour -->
<form *ngIf="formGroup; else modalContent"
      alvFormSubmitValidation
      (validSubmit)="handleSubmitClick()"
      [formGroup]="formGroup">
  <ng-container *ngTemplateOutlet="modalContent"></ng-container>
</form>

<ng-template #modalContent>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button *ngIf="secondaryLabel"
            type="button"
            class="btn btn-text"
            (click)="handleSecondaryClick()">
      {{secondaryLabel | translate}}
    </button>
    <button [attr.type]="formGroup ? 'submit' : 'button'"
            (click)="handlePrimaryClick()"
            class="btn btn-primary">
      {{primaryLabel | translate}}
    </button>
  </div>
</ng-template>
