<form [formGroup]="form"
      (ngSubmit)="onSearchSubmit()"
      class="justify-content-between d-flex flex-column flex-md-row">
  <div class="flex-grow-1">
    <div class="form-row">
      <div class="col-12 col-md-4 mb-1 mb-md-0">
        <alv-multi-typeahead alvFormControlName="occupations"
                             [limit]="4"
                             [editable]="false"
                             [loadItems]="loadOccupationsFn"
                             label="portal.job-ad.search.query-panel.occupations.placeholder"
                             [ngbTooltip]="occupationsTP"
                             placement="bottom"
                             [focusFirst]="true"
                             class="narrow-form">
        </alv-multi-typeahead>
        <ng-template #occupationsTP>
          {{ 'portal.job-ad.search.query-panel.occupations.tooltip' | translate}}
        </ng-template>
      </div>
      <div class="col-12 col-md-4 mb-1 mb-md-0">
        <alv-multi-typeahead alvFormControlName="keywords"
                             [limit]="4"
                             label="portal.job-ad.search.query-panel.keywords.placeholder"
                             [ngbTooltip]="keywordsTP"
                             class="narrow-form"
                             placement="bottom">
        </alv-multi-typeahead>
        <ng-template #keywordsTP>
          {{ 'portal.job-ad.search.query-panel.keywords.tooltip' | translate}}
        </ng-template>
      </div>
      <div class="position-relative col-12 col-md-4 mb-1 mb-md-0">

        <alv-multi-typeahead alvFormControlName="localities"
                             [limit]="1"
                             [editable]="false"
                             [focusFirst]="true"
                             [loadItems]="loadLocalitiesFn"
                             label="portal.job-ad.search.query-panel.localities.placeholder"
                             [ngbTooltip]="localitiesTP"
                             placement="bottom"
                             class="append-button narrow-form">
        </alv-multi-typeahead>

        <alv-geo-location-selection class="geo-location-selector"
                                    (localitySelect)="onGeoSelection($event)">
        </alv-geo-location-selection>

        <ng-template #localitiesTP>
          {{ 'portal.job-ad.search.query-panel.localities.tooltip' | translate}}
        </ng-template>
      </div>
    </div>
  </div>
  <button aria-label="search"
          class="btn btn-primary ml-md-2"
          type="submit">
    <i *ngIf="showSpinner"
       class="fas fa-sync-alt fa-spin">
    </i>
    <i *ngIf="!showSpinner"
       class="fas fa-search">
    </i>
  </button>
</form>
