<div class="w-100"
     *ngIf="control">

  <div class="form-label-group position-relative"
       [class.invalid]="isTouched() && isInvalid()">
    <span *ngIf="required && !readonly"
          class="required-indicator h-100">
    </span>

    <input *ngIf="!multiline && !readonly"
           [attr.id]="id"
           [formControl]="control"
           [type]="type"
           [attr.min]="min"
           [attr.max]="max"
           [attr.minlength]="minLength"
           [attr.maxlength]="maxLength"
           [attr.required]="required"
           [attr.aria-required]="!!required"
           [attr.aria-describedby]="validationId"
           [class.placeholder-shown]="!control.value && control.value !== 0"
           [alvAutofocus]="autofocus"
           (input)="onInput($event)"
           class="form-control">

    <textarea *ngIf="multiline && !readonly"
              [attr.id]="id"
              [formControl]="control"
              [attr.required]="required"
              [attr.minlength]="minLength"
              [attr.maxlength]="maxLength"
              [attr.aria-describedby]="validationId"
              [class.placeholder-shown]="!control.value"
              (input)="onInput($event)"
              class="form-control">
    </textarea>
    <div *ngIf="readonly"
         [class.placeholder-shown]="!control.value"
         class="readonly-input">
      {{control.value}}
    </div>
    <label [attr.for]="id" class="text-truncate">
      {{label | translate}}
      <span *ngIf="placeholder"
            class="placeholder">
        {{placeholder | translate}}
      </span>
    </label>
  </div>
  <div *ngIf="!(isTouched() && isInvalid())"
       class="help-text d-flex">
    <small *ngIf="helpText"
           class="mt-1">{{helpText | translate}}
    </small>
    <div class="flex-grow-1"></div>
    <small *ngIf="showCharacterCounter"
           class="mt-1">
      {{'portal.forms.validation.character-counter' | translate:{count: maxLength - (control.value || '').length} }}
    </small>
  </div>

  <alv-validation-messages *ngIf="!readonly"
                           [control]="control"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
  <alv-validation-messages *ngIf="!readonly && showGroupErrors"
                           [control]="control.parent"
                           [attr.id]="validationId"
                           [customValidationMessages]="validationMessages">
  </alv-validation-messages>
</div>
