@import "../../../../scss/common/colors";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

button.btn-header {
  padding: 0.4em 0.8em;
  background-color: transparent;
  color: $color-primary;
  line-height: 0.9em;
  min-height: 30px;
  &:hover {
    background-color: lighten($color-light-grey, 5%);
  }

  &.dropdown-toggle::after {
    margin: 0.3em 0 0 0.4em;
  }
}


@include media-breakpoint-down(md) {
  button.btn-header {
    padding: 2px 5px;
  }
}
