<li class="nav-item d-flex align-items-center flex-column flex-xl-row pr-0 pr-xl-3"
    [ngClass]="{'active': active}">
  <div class="nav-link__icon d-none d-md-flex justify-content-center align-items-center text-center position-relative">
    <div class="inner-circle">
      <i class="fa"
         [ngClass]="'fa-' + icon"
         aria-hidden="true">
      </i>
    </div>

  </div>
  <div class="ml-0 mt-1 mt-lg-0 ml-xl-3 nav-item__text">
    <ng-content></ng-content>
  </div>
</li>
