$color-white: #FFFFFF;
$color-super-light-grey: #F9F9F9;
$color-light-grey: #F0F0F0;
$color-medium-grey: #CCCCCC;
$color-grey: #999999;
$color-dark-grey: #666666;
$color-grey-black: #333333;
$color-black: #000000;
$color-grey-transparent: rgba(245, 245, 245, 0.8);
$color-white-transparent: rgba(255, 255, 255, 0.8);

$color-light-blue: #EEF9FD;
$color-super-light-blue: #83CBF1;
$color-medium-blue: #A0CDE3;
$color-blue: #1685B7;
$color-dark-blue: #126B92;
$color-blue-transparent: rgba(0, 123, 255, .25);

$color-light-green: #E3F1DC;
$color-medium-green: #98ED74;
$color-green: #008000;

$color-light-red: #FEE0DE;
$color-red: #D90000;
$color-red-transparent: rgba(217, 0, 0, 0.25);

$color-light-yellow: #FFE8A0;
$color-yellow: #FFE8A0;

$color-orange: #F66400;

$color-primary: #AF1007;
