@import "~bootstrap/scss/mixins/_grid.scss";

$margin-x-general: 1.5rem;
$margin-x-filter: $margin-x-general;
$margin-x-narrow: $margin-x-general/2;
// grid
$grid-gutter-width: 30px;

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
 * Common page Layout:	| subnavbar:1/5 | content:3/5 | related:1/5 | OR
 						| subnavbar:1/5 | content-wide:4/5 |
 */

// todo
.base {
  margin-bottom: $margin-x-general;

  @media screen and (min-width: 480px) {

    @include make-row();

    // todo: margin-bottom?!

    .base__subnavbar,
    .base__content,
    .base__content--wide,
    .base__content--amstat,
    .base__related {
      position: relative;
      width: 100%;
      min-height: 1px; // Prevent columns from collapsing when empty

      padding-right: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);
    }

    .base__subnavbar,
    .base__related {
      @include make-col(1, 5);
    }

    .base__content {
      @include make-col(3, 5);
    }
    .base__content--wide {
      @include make-col(4, 5);
    }

    .base--margin-top {
      margin-top: (1.5rem);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .base__subnavbar,
    .base__related {
      @include make-col(1, 4);
    }

    .base__content {
      @include make-col(2, 4);
    }
    .base__content--wide {
      @include make-col(3, 4);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    .base__subnavbar,
    .base__related {
      @include make-col(1, 2);
      order: 1;
    }

    .base__content {
      @include make-col(2, 2);
      order: 2;
    }
    .base__content--wide {
      @include make-col(2, 2);
      order: 2;
    }
  }

  @media screen and (max-width: 479px) {
    display: flex;
    flex-direction: column;
  }

  .base__content--amstat {
    overflow-y: hidden;
  }
}
