@import "../common/colors";

.badge-job,
.badge-workplace,
.badge-locality,
.badge-occupation,
.badge-user-registered {
  background-color: $color-medium-green;
}

.badge-job-category,
.badge-canton,
.badge-classification {
  background-color: $color-medium-blue;
}

.badge-skill,
.badge-free-text,
.badge-availability,
.badge-manage-jobads-filter,
.badge-user-pav-or-emp {
  background-color: $color-light-yellow;
}

.badge-job-workplace,
.badge-place-of-residence,
.badge-user-unregistered {
  background-color: $color-light-red;
}

.badge-workload,
.badge-job-experience {
  background-color: $color-light-grey;
}

.badge-contract-type {
  background-color: $color-light-green;
}

.badge-danger {
  color: $color-white;
}

.badge-status {
  background-color: $color-light-blue;
}

.badge-big {
  font-size: 100%;
}
