<alv-notifications-container></alv-notifications-container>

<alv-header></alv-header>

<div class="sr-only"
     role="status"
     aria-live="polite"
     aria-atomic="true">
  {{a11yMessage}}
</div>

<alv-navigation-container>
  <router-outlet></router-outlet>
</alv-navigation-container>

<alv-version></alv-version>
