<!-- a11y -->
<h1 class="sr-only">Navigation</h1>

<!-- Menu Backdrop -->
<div class="modal-backdrop"
     *ngIf="mobileMenuExpanded"
     (click)="toggleMobileSideNav()">
</div>

<!-- Desktop Menu -->
<div class="desktop-menu d-none d-lg-flex flex-column h-100 d-print-none"
     [class.collapsed]="mainNavigationCollapsed">
  <div class="nav-spacer">
  </div>
  <button class="nav-item menu-toggle"
          (click)="toggleDesktopSideNav()">
    <i class="fas fa-caret-left"
       *ngIf="!mainNavigationCollapsed"></i>
    <i class="fas fa-caret-right"
       *ngIf="mainNavigationCollapsed"></i>
  </button>
  <!-- Menu Entries -->
  <ng-container *ngFor="let menuEntry of menuEntries$ | async">
    <alv-menu-entry [menuEntry]="menuEntry"></alv-menu-entry>
  </ng-container>

  <div class="nav-fill-item flex-grow-1">
  </div>

</div>

<!-- Mobile Menu -->
<div class="mobile-menu d-block d-lg-none d-print-none animate"
     [class.open]="mobileMenuExpanded">

  <div
    class="nav-item mb-4 not-hoverable"
    *alvIsAuthenticated>
    <alv-user-name-and-company
      *ngIf="currentUser"
      [displayName]="currentUser.displayName"
      [companyName]="(currentCompany$|async)?.companyName"
    >

    </alv-user-name-and-company>
  </div>

  <!--Login Button-->
  <a class="d-flex align-self-center btn btn-primary m-3 w-80"
     *alvIsAnonymous
     (click)="login()">
    <i class="nav-icon fas fa-key mx-2"></i>
    <span class="nav-text">{{'global.menu.account.login' | translate}}</span>
  </a>

  <!-- Menu Entries -->
  <ng-container *ngFor="let menuEntry of menuEntries$ | async">
    <alv-menu-entry [menuEntry]="menuEntry"
                    (itemClicked)="toggleMobileSideNav()">
    </alv-menu-entry>
  </ng-container>
  <hr>
  <div class="nav-item">
    <img src="assets/img/logo_arbeit_swiss_without_text.svg"
         class="d-inline-block logo-arbeit-swiss mr-2"
         aria-hidden="true">
    <a [href]="'home.title.portal-url' | translate">
      {{'home.title.cms' | translate | titlecase}}
    </a>

  </div>

  <div class="nav-fill-item flex-grow-1">
  </div>
</div>
