<button class="scroll-top-button btn btn-secondary btn-icon"
        *ngIf="!hidden"
        @insertRemoveButton
        (click)="scrollToTop()"
        [attr.aria-label]="'navigation.scroll-to-top' | translate"
        [ngbTooltip]="'navigation.scroll-to-top' | translate">
  <i class="fa fa-chevron-up"
     aria-hidden="true"></i>
</button>
