@import "../../../../scss/common/colors";
@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

:host {
  z-index: 1000;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@include media-breakpoint-down(sm) {
  :host {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

