<div class="alv-panel pb-4">
  <h2 class="panel-title">
    <i class="panel-icon fa fa-search mr-2"
       aria-hidden="true"></i>
    {{'portal.widgets.job-search.title' | translate}}
  </h2>
  <alv-job-query-panel
    [(jobQueryPanelValues)]="jobQueryPanelValues"
    (searchSubmit)="onSearchSubmit($event)">
  </alv-job-query-panel>
</div>


