<alv-job-publication-widget class="d-block mt-4">
</alv-job-publication-widget>

<alv-candidate-search-widget class="d-block mt-4">
</alv-candidate-search-widget>

<alv-job-search-widget class="d-block my-4">
</alv-job-search-widget>

<alv-manage-job-ads-widget class="d-block my-4">
</alv-manage-job-ads-widget>
