@import "../common/colors";

.dropdown-menu {
  border-radius: 0;
  padding: .1rem 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);

  .dropdown-item {
    border-left: 5px solid transparent;
    padding: .5rem 1rem;

    &:hover, &:active, &.active {
      border-left: 5px solid $color-primary;
      color: $color-primary;
      background-color: transparent;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-light-grey;
    }

    .ngb-highlight {
      background-color: $color-light-yellow;
    }

    &.highlight {
      font-weight: 700;
    }

  }
}

