
body {
  font-family: "Open Sans", Calibri, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1, .h1 {
  font-size: 2.25em;
  font-weight: 300;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3, .h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4, .h4 {
  font-size: 1em;
  font-weight: 700;
}

small, .small {
  font-size: 0.75em;
  font-weight: 400;
}
