<button class="btn btn-secondary btn-icon help-button"
        [attr.aria-label]="'portal.global.help'|translate"
        triggers="click"
        placement="bottom-right"
        [ngbPopover]="helpContent"
        popoverClass="custom-popover help-popover">
  <i class="fas fa-question-circle"></i>
</button>

<ng-template #helpContent>
  <div class="help-content"
       role="alert"
       *ngFor="let helpEntry of helpEntries">
    <h3 class="help-title">{{helpEntry.title| translate}}</h3>
    <div class="help-text"
         *ngIf="helpEntry.text">{{helpEntry.text | translate}}
    </div>
    <ul class="help-list-items"
        *ngIf="helpEntry.listItems?.length">
      <li *ngFor="let listItem of helpEntry.listItems">{{listItem | translate}}</li>
    </ul>
  </div>
</ng-template>
