@import "../../../../scss/common/colors";

.help-content {
  .help-title {
    font-size: 13px;
    font-weight: 700;
  }
  .help-list-items, .help-text {
    font-size: 12px;
  }
  .help-list-items {
    padding-left: 15px;
    margin-bottom: 10px;
  }
}
