<div class="container-fluid">
  <alv-two-column-layout [showLeftColumn]="showLeftColumn$ | async">

    <!-------------Left panel-->
    <div class="left-column">
      <div class="d-flex">
        <div class="flex-grow-1"></div>
        <a class="btn btn-text btn-text-icon mb-3 d-none d-md-block d-print-none"
           routerLink="/home">
          <i class="fa fa-caret-left pr-1"></i>
          {{'entity.action.back' | translate}}
        </a>
      </div>
    </div>

    <!-------------Main screen-->
    <div class="main-column">
      <h2>
        <i class="fa fa-edit mr-2 text-primary"
           aria-hidden="true"></i>
        {{'home.tools.jobPublicationTab' | translate}}
      </h2>
      <hr class="mt-2 mb-3">
      <alv-job-publication-form *ngIf="!submitted, else confirmationMessage"
                                [initialFormValueConfig]="initialFormValueConfig"
                                [currentLanguage]="currentLanguage$ | async"
                                (jobPublicationCreated)="jobPublicationCreated($event)">
      </alv-job-publication-form>
    </div>

    <!-------------Right panel-->
    <div class="right-column">
    </div>
  </alv-two-column-layout>
</div>

<ng-template #confirmationMessage>
  <alv-alert [hideDismiss]="true"
             [notification]="successNotification">
  </alv-alert>
  <alv-alert [hideDismiss]="true"
             [notification]="infoNotification">

    <ul class="pl-3">
      <li class="mb-1">
        {{'portal.job-publication.submit.info.item1' | translate}}
      </li>
      <li class="mb-1">
        {{'portal.job-publication.submit.info.item2' | translate}}
      </li>
      <li class="mb-1"
          *ngIf="responsibleJobCenter$ | async as jobCenter">
        {{'portal.job-publication.submit.info.item3' | translate}}
        <p class="mt-3">
          <alv-post-address [address]="{
                        name: jobCenter.address?.name,
                        street: jobCenter.address?.street,
                        houseNumber: jobCenter.address?.houseNumber,
                        postalCode: jobCenter.address?.zipCode,
                        city: jobCenter.address?.city}">
          </alv-post-address>
          <ng-container *ngIf="jobCenter.phone">
            {{'portal.job-publication.submit.info.phone' | translate}}:&nbsp;
            <a [href]="'tel:' + jobCenter.phone"
               target="_blank">{{jobCenter.phone | phoneNumber}}</a>
            <br>
          </ng-container>
          <ng-container *ngIf="jobCenter.fax">
            {{'portal.job-publication.submit.info.fax' | translate}}:&nbsp;
            <a [href]="'tel:' + jobCenter.fax"
               target="_blank">{{jobCenter.fax | phoneNumber}}</a>
            <br>
          </ng-container>
          <ng-container *ngIf="jobCenter.email">
            {{'portal.job-publication.submit.info.email' | translate}}:&nbsp;
            <a [href]="'mailto:' + jobCenter.email"
               target="_blank">{{jobCenter.email}}</a>
          </ng-container>
        </p>
      </li>
    </ul>
  </alv-alert>

  <div class="d-flex flex-column flex-lg-row">
    <a class="btn btn-secondary"
       routerLink="/home">
      {{'portal.global.back-to-home' | translate}}
    </a>
    <button class="btn btn-secondary mt-1 mt-lg-0 ml-0 ml-lg-1"
            (click)="createNewJobPublication()">
      {{'portal.job-publication.create.another' | translate}}
    </button>
  </div>
</ng-template>
