<div class="container">
  <div class="d-flex justify-content-between p-2">
    <h2 class="dashboard__title text--light">
  <span class="fa fa-table text-primary"
        aria-hidden="true"></span>
      {{ 'dashboard.job-publication.title' | translate }}
    </h2>
    <button type="button"
            class="btn btn-text"
            data-toggle="popover"
            (click)="onFilterClick()">
      <i class="fa fa-filter mr-2"></i>
      {{'portal.manage-job-ads.search.filter-button' | translate}}
    </button>
  </div>

  <hr class="my-1">

  <!--Badges panel-->
  <div class="d-flex justify-content-end mb-3"
       *ngIf="currentBadges$ | async as currentBadges">
    <alv-inline-badges [badges]="currentBadges"
                       (removed)="removeCurrentBadge($event)"
                       [canRemove]="true">
    </alv-inline-badges>
  </div>

  <alv-input-field [alvControl]="form.get('query')"
                   label="portal.manage-job-ads.search.query">
  </alv-input-field>

  <alv-job-ad-management-table
    [columnDefinitions]="columns$ | async"
    [currentSorting]="(currentFilter$ | async).sort"
    [rows]="rows$ | async"
    (action)="onAction($event)"
    (scroll)="onScroll()"
    (sort)="onSortChange($event)"
    >
  </alv-job-ad-management-table>

</div>
