<fieldset [formGroup]="employer">
  <legend class="sr-only">{{'home.tools.job-publication.employer.title' | translate }}</legend>

  <div class="alv-light-panel">
    {{'home.tools.job-publication.employer.title' | translate}}
  </div>
  <div class="panel-content">
    <alv-input-field label="home.tools.job-publication.employer.title"
                     alvFormControlName="name">
    </alv-input-field>

    <alv-zip-city-input [parentForm]="employer"
                        [zipCityFormValue]="employerFormValue.zipAndCity"
                        [countryIsoCode]="countryIsoCode$ | async">
    </alv-zip-city-input>

    <alv-select label="home.tools.job-publication.company.country"
                alvFormControlName="countryIsoCode"
                [options$]="countryOptions$">
    </alv-select>
  </div>
</fieldset>
