<button *ngIf="visible$ | async"
        tabindex="-1"
        [attr.aria-label]="'portal.shared.localities.geo-location-selection.aria-label' | translate"
        (click)="getLocation()">
  <span class="fa-stack">
    <i *ngIf="loading; else mapIcon"
       class="loading-icon fas fa-sync-alt fa-spin fa-stack-1x">
    </i>
    <ng-template #mapIcon>
    <i class="map-icon fas fa-circle fa-stack-2x"></i>
    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
    </ng-template>
  </span>
</button>
