<fieldset [formGroup]="occupation">

  <legend class="sr-only">{{'home.tools.job-publication.occupation.label' | translate }}</legend>

  <alv-single-typeahead label="home.tools.job-publication.occupation.label"
                        alvFormControlName="occupationSuggestion"
                        [loadItems]="loadOccupationsFn">
  </alv-single-typeahead>

  <alv-select label="portal.job-publication.occupation.qualification.label"
              alvFormControlName="qualification"
              [options$]="qualificationOptions$">
  </alv-select>

  <alv-select label="home.tools.job-publication.degree"
              alvFormControlName="degree"
              [options$]="degreeOptions$">
  </alv-select>

  <alv-select label="home.tools.job-publication.experience"
              alvFormControlName="experience"
              [options$]="experienceOptions$">
  </alv-select>

</fieldset>
