<div class="container-fluid pt-4">
  <alv-three-column-layout *ngIf="jobDetailModel$ | async as jobDetailModel"
                           [stickyTop]="layoutConstants.STICKY_TOP_DETAIL"
                           [mobileOrdering]="[2, 1, null]">
    <ng-container class="mobile-menu-bar">
      <div class="d-flex justify-content-between">
        <div>
          <a class="btn btn-text btn-text-icon"
             routerLink="/job-search">
            <i class="fa fa-caret-left mr-1"></i>
            {{'job-detail.back' | translate}}
          </a>
        </div>
        <div #mobileActionsMenu="ngbDropdown"
             class="d-inline-block"
             ngbDropdown
             placement="bottom-right">
          <button (click)="mobileActionsMenu.toggle()"
                  class="btn btn-text btn-icon"
                  id="dropdownMenu"
                  ngbDropdownAnchor
                  aria-label="Open job detail menu">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div aria-label="Job detail menu"
               ngbDropdownMenu>
            <button (click)="prev()"
                    [disabled]="!(prevEnabled$ | async)"
                    class="dropdown-item">
              {{'portal.job-detail.previous-result' | translate}}
            </button>
            <button (click)="next()"
                    [disabled]="!(nextEnabled$ | async)"
                    class="dropdown-item">
              {{'portal.job-detail.next-result' | translate}}
            </button>
            <a *ngIf="jobDetailModel.applyChannel?.formUrl"
               class="dropdown-item"
               [href]="jobDetailModel.applyChannel?.formUrl"
               target="_blank">
              {{'job-detail.action.applyNow' | translate}}
            </a>
            <a *ngIf="jobDetailModel.jobContent.externalUrl"
               class="dropdown-item"
               [href]="jobDetailModel.jobContent.externalUrl"
               target="_blank}">
              {{'job-detail.action.showExternalPage' | translate}}
            </a>
            <button (click)="printJob()"
                    class="dropdown-item">
              <span>{{'job-detail.action.print' | translate}}</span>
            </button>
            <a class="dropdown-item"
               [href]="'mailto:?body=' + getEncodedUrl()">
              <span>{{'job-detail.action.sendEmail' | translate}}</span>
            </a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container class="left-column">
      <a class="btn btn-text btn-text-icon btn-truncate mb-3 d-none d-md-block d-print-none"
         routerLink="/job-search">
        <i class="fa fa-caret-left pr-1"></i>
        {{'job-detail.back' | translate}}
      </a>
      <div class="d-flex d-sm-block flex-column-reverse">
        <div class="alv-panel p-2 mb-3">
          <alv-job-company-context [jobDetailModel]="jobDetailModel">
          </alv-job-company-context>
        </div>
      </div>

      <div *ngIf="jobDetailModel.stellennummerAvam && jobDetailModel.jobCenter"
           class="alv-panel p-2 mb-3">
        <div class="order-sm-2">
          <alv-job-center-context [jobDetailModel]="jobDetailModel">
          </alv-job-center-context>
        </div>
      </div>
    </ng-container>

    <ng-container class="main-column">

      <div *ngIf="(alerts$ | async) as alerts"
           [ngClass]="{'mb-4': alerts.length}">
        <alv-alert *ngFor="let alert of alerts"
                   [notification]="alert"
                   (dismiss)="dismissAlert(alert, alerts)">
        </alv-alert>
      </div>

      <alv-job-content [jobDetailModel]="jobDetailModel"
                       [badges]="badges$ | async">
      </alv-job-content>
    </ng-container>

    <ng-container class="right-column">
      <div class="d-flex">
        <button (click)="prev()"
                [disabled]="!(prevEnabled$ | async)"
                class="btn btn-text btn-text-icon btn-truncate mb-2">
          <i class="fa fa-caret-left mr-1"></i>
          {{'portal.job-detail.previous-result' | translate}}
        </button>
        <div class="flex-grow-1"></div>
        <button (click)="next()"
                [disabled]="!(nextEnabled$ | async)"
                class="btn btn-text btn-text-icon btn-truncate mb-2">
          {{'portal.job-detail.next-result' | translate}}
          <i class="fa fa-caret-right ml-1"></i>
        </button>
      </div>

      <p>
        <a *ngIf="jobDetailModel.applyChannel?.formUrl"
           class="btn btn-primary btn-block btn-truncate mb-1"
           [href]="jobDetailModel.applyChannel?.formUrl | normalizeUrl"
           target="_blank">
          {{'job-detail.action.applyNow' | translate}}
        </a>
        <a *ngIf="jobDetailModel.jobContent.externalUrl"
           class="btn btn-secondary btn-block btn-truncate"
           [href]="jobDetailModel.jobContent.externalUrl | normalizeUrl"
           [target]="jobDetailModel.id">
          {{'job-detail.action.showExternalPage' | translate}}
        </a>
      </p>

      <ul class="nav flex-column">
        <li>
          <button class="btn btn-text btn-text-icon btn-truncate"
                  ngxClipboard
                  [cbContent]="getJobUrl()"
                  (cbOnSuccess)="onCopyLink()"
                  [ngbTooltip]="'global.messages.tooltip.link-copy.success' | translate"
                  triggers="manual">
            <i aria-hidden="true"
               class="fa fa-copy mr-1"></i>
            {{'job-detail.action.copyLink' | translate}}
          </button>
        </li>
        <li>
          <a class="btn btn-text btn-text-icon btn-truncate"
             [href]="'mailto:?body=' + getEncodedUrl()">
            <i aria-hidden="true"
               class="fa fa-share mr-1"></i>
            {{'job-detail.action.sendEmail' | translate}}
          </a>
        </li>
        <li class="d-none d-md-block">
          <button class="btn btn-text btn-text-icon btn-truncate"
                  (click)="printJob()">
            <i aria-hidden="true"
               class="fa fa-print mr-1"></i>
            {{'job-detail.action.print' | translate}}
          </button>
        </li>
      </ul>
    </ng-container>
  </alv-three-column-layout>
</div>



