<div class="container mt-4">
  <h1>Typeahead</h1>

  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-multi-typeahead [alvControl]="typeaheadControl"
                       [limit]="4"
                       [loadItems]="itemLoaderFn"
                       label="Multi Typeahead Showcase">
  </alv-multi-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <p>A typeahead that accepts free text, enables searching for items and limits the
    selectable items to 4</p>
  <alv-single-typeahead [alvControl]="typeaheadControl"
                        [loadItems]="itemLoaderFn"
                        label="Single Typeahead Showcase">
  </alv-single-typeahead>

  <p>Form Control Value:</p>
  <p>{{typeaheadControl.value | json}}</p>

  <alv-select
    [alvControl]="selectControl"
    [options$]="selectOptions$"
    [validationMessages]="[{error: 'require', message: 'Custom message'}]"
    label="Demo Select">
  </alv-select>

  <h1>Confirm Modal</h1>
  <button class="btn btn-primary"
          (click)="openConfirmModal()">Open Confirm Modal
  </button>
  {{confirmModalDemoText}}

  <h1 class="mt-2">Buttons</h1>
  <div class="d-flex mb-2">
    <button class="btn btn-primary btn-icon mr-2"><i class="fas fa-wrench"></i></button>
    <button class="btn btn-primary mr-2">Primary</button>
    <button [disabled]="true"
            class="btn btn-primary">Primary
    </button>
  </div>
  <div class="d-flex mb-2">
    <button class="btn btn-secondary btn-icon mr-2"><i class="fas fa-caret-left"></i>
    </button>
    <button class="btn btn-secondary mr-2">Sedondary</button>
    <button [disabled]="true"
            class="btn btn-secondary">Secondary Disabled
    </button>
  </div>
  <div class="d-flex mb-2">
    <button class="btn btn-text btn-icon mr-2"><i class="fas fa-info"></i></button>
    <button class="btn btn-text mr-2">Text</button>
    <button [disabled]="true"
            class="btn btn-text">Text
    </button>
  </div>


</div>
