<div class="container-fluid query-search-area py-5">
  <div class="form-row">
    <h2 class="sr-only">
      {{'portal.candidate-search.browser-title' | translate}}
    </h2>
    <alv-candidate-query-panel class="col-12 col-md-10 col-lg-9"
                               (candidateQueryPanelValuesChange)="onQueryChange($event)"
                               [showSpinner]="resultsAreLoading$ | async"
                               [candidateQueryPanelValues]="candidateSearchFilter$ | async">
    </alv-candidate-query-panel>
    <div class="col-12 col-md-2 col-lg-3 d-flex">
      <button (click)="onResetFilter()"
              class="btn btn-text h-100 mt-1 mt-md-0 flex-grow-1 flex-md-grow-0">
        {{ 'job-search.toolbar.reset' | translate }}
      </button>
    </div>


  </div>
</div>

<div (scrolled)="onScroll()"
     [fromRoot]="true"
     [infiniteScrollThrottle]="50"
     [immediateCheck]="true"
     [infiniteScrollContainer]="'main'"
     class="container-fluid"
     infiniteScroll>

  <alv-three-column-layout [mobileOrdering]="[1, 3, 2]"
                           [stickyTop]="layoutConstants.STICKY_TOP_SEARCH">
    <ng-container class="left-column">
      <div class="alv-bar mb-1">
        <span *ngIf="resultsAreLoading$ | async; else resultsCount">...</span>
        <ng-template #resultsCount>
          <strong>{{totalCount$ | async | number }} {{'portal.candidate-search.results-count.label' | translate}}</strong>
        </ng-template>
      </div>

      <h2 class="sr-only">
        {{'candidate-search.filter.title' | translate}}
      </h2>

      <alv-filter-panel (filterPanelValuesChange)="onFiltersChange($event)"
                        [filterPanelValues]="candidateSearchFilter$ | async"></alv-filter-panel>
    </ng-container>

    <ng-container class="main-column">
      <alv-candidate-search-result *ngFor="let candidateSearchResult of candidateSearchResults$ | async"
                                   [selectedOccupationCodes]="selectedOccupationCodes | async"
                                   [candidateSearchResult]="candidateSearchResult">
      </alv-candidate-search-result>
    </ng-container>

    <ng-container class="right-column">
      <div class="w-100 mb-3 text-right text-md-left">
        <a *ngIf="searchMailToLink$ | async as searchMailToLink"
           class="btn btn-text btn-text-icon btn-truncate"
           [href]="searchMailToLink">
          <i aria-hidden="true"
             class="fa fa-share mr-1"></i>
          {{'candidate-search.filter.candidate-search-link' | translate}}
        </a>
      </div>
    </ng-container>

  </alv-three-column-layout>

</div>
